<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>NewsLetter</title>
</head>
<body>
    <section class="section-general">
        <h1 id="h1-home">Seja bem vindo à nossa NewsLetter</h1>
        <form id="form-home" action="/register" method="POST">
            <div class="input-user">
                <label for="user">Nome de usuário:</label>
                <input type="text" name="username" id="user">
            </div>
            <div class="input-user">
                <label for="email">Digite aqui seu e-mail:</label>
                <input type="text" name="email" id="email">
            </div>
            <button id="btn-home" type="submit">Enviar</button>
        </form>
    </section>
</body>
</html>