<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Parabéns</title>
</head>
<body>
    <section class="section-general">
        <h1>Parabéns!</h1>
        <p><%=currentUser%> você acaba de ser registrado na nossa NewsLetter, todos os dias encaminharemos novas notícias ao e-mail cadastrado.</p>
    </section>
</body>
</html>